*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html {
    font-family: 'Montserrat', sans-serif;
}
 /* utility class */
.fl {
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* end utility class */

.container-page {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    min-width: 500px;
}

header {
    margin: 0 20px;
}

header img {
    width: 180px;
    border-right:  1px solid #ddd;
    padding-right: 20px;
}

nav {
    padding: 30px 0;
}

li {
    display: inline-block;
    margin-left: 10px;
    color: #999;
}

.img-container {
     margin: 20px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: center;
}

.img-trans-box {
    background-color: black;
    opacity: 0.2;
    height: 450px;
    padding: 22px;
    border-radius: 10px;
}

.img-trans-box h3 {
    font-size: 30px;
    color: white;
    font-weight: lighter;

}


.float-container {
    background-color: blue;
    margin: 20px 20px 10px 20px;
}

.float-title {
    height: 80px;
    background-color: cornflowerblue;
}

.right-bar,.left-bar {
    width: 20%;
}

.main {
    width: 60%;
    padding: 20px 10px;
}

.right-bar {
    padding: 20px 10px 20px 0;
}

.left-bar {
    padding: 20px 0px 20px 10px;
}

.content {
    background-color: cornflowerblue;
    height: 350px;
}

footer {
    height: 100px;
    background-color: darkmagenta;
    margin: 10px 20px 20px 20px;
}
